<div class="col-md-4 mb-5">
	<div class="shadow song">
		<div class="inf-song">
			<h5 class="mb-0">{{nombre}}</h5>
			<p class="mb-0">{{cantante}}</p>
		</div>
		<a href="/public/like/{{likes}}/{{id}}">
			<span class="like-btn">
				{{likes}}
			</span>
		</a>
		<div
			class="w-100 img-song"
			style="background-image: url('/img/{{imagen}}');"
		>

		</div>
	</div>
</div>