<div class="col-md-4 mb-3">
	<div class="card shadow">
		<img
			src="/img/{{foto}}"
			class="card-img-top"
			alt="..."
			height="212"
		/>
		<div class="card-body">
			<h5 class="card-title fw-bold mb-2">{{nombre}}
				{{apellidos}}</h5>
			<p class="card-text">{{{biografia}}}</p>
			<a href="/public/artistas/{{id}}" class="btn btn-primary">Ver
				Artista</a>
		</div>
	</div>
</div>