<div class="w-100 d-flex bg-gris">
	{{> aside }}
	<div class="w-100">
		<div
			class="titulo bg-white m-3 rounded shadow d-flex align-items-center justify-content-center"
		>
			<h1 class="fw-normal">Crud de Compositores</h1>
		</div>
		<div class="bg-white m-3 rounded shadow p-3">
			<button
				type="button"
				class="btn btn-primary"
				data-bs-toggle="modal"
				data-bs-target="#agregarCompositor"
			>
			Agregar un Nuevo Compositor
			</button>
			<table id="artistas" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th >Descripcion</th>
						<th>Imagen</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{{#each compositores }}

						<tr>
							<td>{{nombre}} {{apellidos}}</td>
							<td>{{{descripcion}}}</td>
							<td><img src="/img/{{image}}" alt="" class="w-100" width="200"></td>
							<td class="">
								<button
										type="button"
										class="btn btn-info w-100 mb-2"
										data-bs-toggle="modal"
										data-bs-target="#editCompositor{{id}}"
									>
									Editar
								</button>

								<a
									href="/admin/deleteCompositores/{{id}}"
									class="btn btn-danger eliminar w-100"
								>
									Eliminar
								</a>
								</td>
						</tr>

					{{/each}}

				</tbody>
			</table>
		</div>
	</div>

</div>

<!-- Modal -->
<div
	class="modal fade"
	id="agregarCompositor"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<form action="/admin/addCompositores" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agrega un Nuevo Compositor/h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="nombre" 
								placeholder="EL Nombre del Compositor" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="apellidos" 
								placeholder="EL Apellidos del Compositor" class="form-control">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label class="form-label">Descripcion del Compositor</label>
                            <input id="editor" type="hidden" name="descripcion">
                            <trix-editor input="editor" style="min-height: 300px;"></trix-editor>
                        </div>
						<div class="mt-3">
							<label class="form-label w-100">Imagen Del Compositor</label>
							<input type="file" name="image">
						</div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >Close</button>
                    <input type="submit" class="btn btn-primary" value="Guardar Compositor">
                </div>
            </form>
		</div>
	</div>
</div>

{{!-- Editar artistas --}}
{{#each compositores }}
	
<div
	class="modal fade"
	id="editCompositor{{id}}"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<form action="/admin/editCompositores" method="post" enctype="multipart/form-data" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edtar Compositor:<span class="fw-bold">{{nombre}}</span></h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="nombre" 
								placeholder="EL Nombre del Compositor" class="form-control" value="{{nombre}}">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="apellidos" 
								placeholder="EL Apellidos del Compositor" class="form-control" value="{{apellidos}}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label class="form-label">Descripcion del Compositor</label>
                            <input id="editor{{id}}" type="hidden" name="descripcion" value="{{{descripcion}}}">
                            <trix-editor input="editor{{id}}" style="min-height: 300px;"></trix-editor>
                        </div>
						<div class="mt-3">
							<label class="form-label w-100">Imagen Del Compositor</label>
							<input type="file" name="image">
							<input type="hidden" name="image_old" value="{{image}}">
						</div>
                        <input type="hidden" name="id" value="{{id}}">
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >Close</button>
                    <input type="submit" class="btn btn-primary" value="Editar Concierto">
                </div>
            </form>
		</div>
	</div>
</div>
{{/each}}
