<div class="w-100 d-flex bg-gris">
{{> aside }}
	<div class="w-100">
		<div
			class="titulo bg-white m-3 rounded shadow d-flex align-items-center justify-content-center"
		>
			<h1 class="fw-normal">Crud Artistas</h1>
		</div>
		<div class="bg-white m-3 rounded shadow p-3">
			<button
				type="button"
				class="btn btn-primary"
				data-bs-toggle="modal"
				data-bs-target="#agregarArtista"
			>
			Agregar Un nuevo Artista
			</button>
			<table id="artistas" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>Edad</th> 
						<th style="width:650px;">Biografia</th>
						<th>Acciones</th>
						<th>Imagen</th>
					</tr>
				</thead>
				<tbody>
					{{#each artistas}}

						<tr>
							<td>{{nombre}}</td>
							<td>{{apellidos}}</td>
							<td>{{edad}}</td>
							<td style="width:650px;">{{{biografia}}}</td>
							
							<td class="text-center">
								<button
										type="button"
										class="btn btn-info mb-2"
										data-bs-toggle="modal"
										data-bs-target="#editArtistas{{id}}"
									>
									Editar
								</button>

								<a
									href="/admin/deleteArtista/{{id}}"
									class=" btn btn-danger eliminar "
									
								>
									
								Eliminar
									
								</a>
								</td>
								<td><img src="/img/{{foto}}" alt="Imagen del artistas" width="500"></td>
						</tr>

					{{/each}}

				</tbody>
			</table>
		</div>
	</div>

</div>

<!-- Modal -->
<div
	class="modal fade"
	id="agregarArtista"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<form action="/admin/addArtistas" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agrega Un Nuevo Artista</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" name="nombre" placeholder="EL Nombre Del Artista" class="form-control">
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="apellidos" placeholder="Apellidos Del Artista" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <input type="number" name="edad" min="5" max="120" placeholder="Edad Del Artista" class="form-control">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <input id="editor" type="hidden" name="biografia">
                            <trix-editor input="editor" style="min-height: 300px;"></trix-editor>
                        </div>
						<div class="row mt-3">
							<label for="">Foto del Artistas</label>
							<input type="file" name="foto">
							
						</div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >Close</button>
                    <input type="submit" class="btn btn-primary" value="Guardar Artista">
                </div>
            </form>
		</div>
	</div>
</div>

{{!-- Editar artistas --}}
{{#each artistas }}
	
<div
	class="modal fade"
	id="editArtistas{{id}}"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<form action="/admin/editArtista" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agrega Un Nuevo Artista</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" name="nombre" placeholder="EL Nombre Del Artista" class="form-control" value="{{nombre}}">
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="apellidos" placeholder="Apellidos Del Artista" class="form-control" value="{{apellidos}}">
                            </div>
                            <div class="col-md-2">
                                <input type="number" name="edad" min="5" max="120" placeholder="Edad Del Artista" class="form-control" value="{{edad}}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <input id="editor{{id}}" type="hidden" name="biografia" value="{{{biografia}}}">
                            <trix-editor input="editor{{id}}" style="min-height: 300px;"></trix-editor>
                        </div>
						<div class="row mt-3">
							<div><img src="/img/{{foto}}" alt="" width="200" height="200"></div>
							<label for="">Foto del Artistas</label>
							<input type="file" name="foto">
							<input type="hidden" name="foto_old" value="{{foto}}">
						</div>
						<input type="hidden" name="id" value="{{id}}">
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >Close</button>
                    <input type="submit" class="btn btn-primary" value="Guardar Artista">
                </div>
            </form>
		</div>
	</div>
</div>
{{/each}}


