<div class="w-100 d-flex bg-gris">
	{{> aside }}
	<div class="w-100">
		<div
			class="titulo bg-white m-3 rounded shadow d-flex align-items-center justify-content-center"
		>
			<h1 class="fw-normal">Crud Membresia</h1>
		</div>
		<div class="bg-white m-3 rounded shadow p-3">
			<button
				type="button"
				class="btn btn-primary"
				data-bs-toggle="modal"
				data-bs-target="#agregarMembresia"
			>
			Agregar una Nueva Membresia
			</button>
			<table id="artistas" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th >Descripcion</th>
						<th>Precio</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{{#each membresia}}

						<tr>
							<td>{{nombre}}</td>
							<td>{{{descripcion}}}</td>
                            <td>{{precio}}</td>
							<td class="text-center">
								<button
										type="button"
										class="btn btn-info"
										data-bs-toggle="modal"
										data-bs-target="#editMembresia{{id}}"
									>
									Editar
								</button>

								<a
									href="/admin/deleteMembresia/{{id}}"
									class="btn btn-danger eliminar"									
								>
									Eliminar
								</a>
								</td>
						</tr>

					{{/each}}

				</tbody>
			</table>
		</div>
	</div>

</div>

<!-- Modal -->
<div
	class="modal fade"
	id="agregarMembresia"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<form action="/admin/addMembresia" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agrega Una Nu Nuava Membresia</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="nombre" placeholder="EL Nombre De la Membresia" 
								class="form-control">
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="precio" placeholder="Precio De la Membresia" 
								class="form-control">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label for="" class="form-label">Informacion de la Membresia</label>
                            <input id="editor" type="hidden" name="descripcion">
                            <trix-editor input="editor" style="min-height: 200px;"></trix-editor>
                        </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >Close</button>
                    <input type="submit" class="btn btn-primary" value="Guardar Album">
                </div>
            </form>
		</div>
	</div>
</div>

{{!-- Editar artistas --}}
{{#each membresia }}
	
<div
	class="modal fade"
	id="editMembresia{{id}}"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<form action="/admin/editMembresia" method="post" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edtar {{nombre}}</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="nombre" class="form-control" value="{{nombre}}">
                            </div>
							<div class="col-md-6">
                                <input type="number" name="precio" placeholder="Precio De la Membresia" 
								class="form-control" value="{{precio}}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label for="" class="form-label">Informacion </label>
                            <input id="editor{{id}}" type="hidden" name="descripcion" value="{{descripcion}}">
                            <trix-editor input="editor{{id}}" style="min-height: 200px;"></trix-editor>
                        </div>                        
						<input type="hidden" name="id" value="{{id}}">
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >Close</button>
                    <input type="submit" class="btn btn-primary" value="Guardar Artista">
                </div>
            </form>
		</div>
	</div>
</div>
{{/each}}


