<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Cover Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

    <!-- Bootstrap core CSS -->
<link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">

<body style="background-color:#b6c2a4;">
</body>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  

  <main role="main" class="inner cover">
    <h1 class="cover-heading" >Escoge al siguiente Instrumento que sera mostrado en la paginá.</h1>
    <p class="lead"></p>
    <p class="lead">
  
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">

        <div class="col-col-6">
    <div class="container">
    
      </div>
    </div>  

      <div class="container p-1">
   <div class="text-center">
  <img src="https://legismusic.com/wp-content/uploads/2016/08/ganar-dinero-vendiendo-musica-libre.png" class="rounded" alt="...">
</div>
        <div style=text-align:center>
                    <center><div class="row">
    <div class="col-2"></center>
            <form action="/artcrud" method="POST">
                <div class="mb-1">
                  <center>
                  <input type="text" style="width:450px;height:30px" class="form-control" name="imgft" placeholder="Nombre Instrumento">
                  </center>
                </div>
                <div class="mb-1">
                  <center>
                  <input type="text" style="width:450px;height:30px" class="form-control" name="desrc" placeholder="Descripción Instrumento">
                  </center>
                </div>
                
               
              
                <button type="submit" class="btn btn-danger">agregar instrumento</button>
          </form>

            <table class="table table-success table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Instrumentos</th>
                <th scope="col">Descripción</th>
              
              </tr>
            </thead>
            <tbody>
              {{#each lisa}}
              <tr>
                <th scope="row">{{id}}</th>
                <td>{{imgft}}</td>
                <td>{{desrc}}</td>
                <td>
                  
                  <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminaropinionseis{{id}}">
  Eliminar
</button>

<!-- Modal -->
<div class="modal fade" id="eliminaropinionseis{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Esta seguro que quiere eliminar este Artista de {{imgft}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a  class="btn btn-danger" href="eliminarnoticiaocho/{{id}}">Eliminar</a>
       
      </div>
    </div>
  </div>
</div>
                             <!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modificaropinionseis{{id}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="modificaropinionseis{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">


  <form action="modificarnoticiaocho/{{id}}" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
      
                <div class="mb-3">
                  <input type="text" value="{{imgft}}" name="imgft" placeholder="Nombre">
                </div>
                <div class="mb-3">
                  <input type="text" value="{{descr}}" name="descr" placeholder="Opinion">
                </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit"class="btn btn-info">Modificar</button>

             
             
       
      </div>
    </div>

    </form>

  </div>
</div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
    </div>
  </div>

</div>

</html>